.version.san_pham /* version checker */
{
	color: #0000EC;
	background-color: #D73D31;
}

#page
{
	z-index: 1;
	width: 1170px;
	min-height: 406px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 94px;
	margin-left: auto;
	margin-right: auto;
}

#u227
{
	z-index: 6;
	width: 260px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 222px;
	left: 20px;
}

#pu224-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 119px;
	margin-left: 310px;
}

#u224-4
{
	z-index: 2;
	width: 357px;
	min-height: 77px;
	background-color: transparent;
	color: #FF0000;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	margin-left: 97px;
	position: relative;
}

#pu235
{
	width: 0.01px;
	margin-top: 26px;
}

#u235
{
	z-index: 8;
	width: 260px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u242
{
	z-index: 10;
	width: 260px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 290px;
}

#u249
{
	z-index: 12;
	width: 260px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 222px;
	left: 890px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1170px;
}


